# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3

# Node.js (si usas React o Bootstrap)
node_modules/
npm-debug.log
yarn-error.log

# Flask y entorno virtual
venv/
instance/
.env
*.DS_Store

# Docker
*.dockerignore
*.env
docker-compose.override.yml

# AWS y credenciales
.aws/
*.pem

# Configuración de IDE
.vscode/
.idea/
*.swp

# Archivos temporales
*.tmp
